:root{
    --primary-color: #752700;
    --secondary-color: #53719E;
    --accent1-color: #557749;
    --accent2-color: #97C0FD;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header nav{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    align-items: center
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero article{
    position: absolute;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color) ;
    color: white;
}
.hero p{
    color: white;
    width: 100%;
    padding-top: 10px;
    margin: 0px;
}

article {
    position: absolute;
    top: 370px;
    background-color: var(--accent1-color) ;
    padding: 17px;
    color: white;
    text-align: center;
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid black;
}

header img{
    width: 150px;
    height: auto;
}

header a{
    color: var(--primary-color);
}

h2{
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color) ;
    color: white;
}

section p {
    text-align: center;
    color: var(--secondary-color);
}
.history img{
    width: 200px;
    height: auto;

}
.history {
    display: flex;
    padding-top: 20px;
}
figure img{
    width: 120px;
    height: auto;
    display: block;
}

figure{
    display: inline-block;
    text-align: center;
    padding-top: 20px;
}
.adventure{
    display: flex;
    justify-content: space-evenly;
}
footer{
    text-align: center;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p{
    padding-left: 200px;
}
footer img {
    width: 50px;
    float: right;
    padding: 5px;
}
.reachus h2{
    background-color: white;
    color: var(--secondary-color);
    margin: 2px;
    padding: 1px;
}
.reachus p{
    color: var(--secondary-color);
    margin: 0px;
    padding: 1px;
}
form {
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  display: grid;
  color: var(--accent1-color);
}
fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
}
button {
  margin: 1rem;
  background-color: white;
  color: var(--accent2-color);
  border: 1px solid var(--primary-color);
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--primary-color);
}
.form-item {
  display: grid;
  align-items: center;
}
.column1 {
  grid-template-columns: 2fr 2fr;
  margin: 0.5rem 0;
}
.column2 {
  grid-template-columns: 1fr 2fr;
}
.column1 p{
    margin: 1px;
}
.subscribe{
    padding: 2px;
}
.message p{
    padding: 0px;
    margin: 1px;
}
.serve, .map, .reachus{
    border: 1px solid var(--primary-color);
}
.serve h2{
    background-color: white;
    color: var(--secondary-color);
}
.contact{
    background-color: white;
    color: var(--secondary-color);
    text-align: center;

}
iframe{
    width: 500px; 
    height: auto; 
    border: 0px;
}
.newsletter h2{
    background-color: var(--accent2-color) ;
    color: var(--primary-color);
}
.intro p{
    color: var(--secondary-color);
}
.come h2{
    background-color: var(--accent2-color);
    color: var(--primary-color);

}
.trip h1{
    text-align: center;
}
.trip{
    border: dashed var(--accent1-color) 2px;
    margin: 5px;
}
.trips h2{
    background-color: white;
    color: var(--primary-color);

}
.trips{
    border: dashed var(--accent1-color) 1px;
}
.trips figcaption{
    color: var(--primary-color);
}
.dark{
    display: flex;
    align-items: center;   
}
.dark img{
    width: 180px;
    height: auto;
}
.blue{
    display: flex;
    align-items: center;   
}
.blue img{
    width: 180px;
    height: auto;
}
.full{
    display: flex;
    align-items: center;   
}
.full img{
    width: 180px;
    height: auto;
}
table{
    border: 2px solid var(--secondary-color);
    border-collapse: collapse;
    margin: 0 auto;
}

thead{
    background-color: var(--accent2-color);
    color: var(--primary-color);
}
th, td{
    text-align: center;
    padding: 5px 8px;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
}
.compare h2{
    background-color: white;
    color: var(--primary-color);
}
.compare{
    border: dashed var(--accent1-color) 1px;
}