:root{
    --primary-color: #FF8040;
    --secondary-color: white;
    --accent1-color: #658C58;
    --accent2-color: #4A70A9;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero{
    position: relative;
}
.hero h1 {
    position: absolute;
}
.hero article{
    position: absolute;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color) ;
    color: var(--secondary-color);
}

article {
    position: absolute;
    top: 370px;
    background-color: var(--accent1-color) ;
    padding: 17px;
    color: var(--secondary-color);
    text-align: center;
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid black;
}

header img{
    width: 100px;
}

header a{
    color: var(--primary-color);
}

h2{
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color) ;
    color: var(--secondary-color);
}

section p {
    text-align: center;
    color: var(--accent2-color);
}

footer{
    text-align: center;
}

footer img {
    width: 50px;
    float: right;
    padding: 5px;
}