*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
  font-family: Merriweather, Georgia, serif;
  font-size: 1em;
  color: #793;
  background: #fff;
}
header {
  margin: 0 auto;
  width: 650px;
}

h1 {
  margin: 1rem;
  font-size: 1.5em;
  color: #349;
  text-align: center;
}
form {
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: #323;
  display: grid;
}
fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
}
input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: #9283F1;
  color: #212945;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: darkgreen;
}
.form-item {
  display: grid;
  align-items: center;
}
.column1 {
  grid-template-columns: 3fr 1fr;
  margin: 0.5rem 0;
}
.column2 {
  grid-template-columns: 1fr 2fr;
}