table{
    border: 2px solid gray;
    border-collapse: collapse;
}

thead, tfoot{
    background-color: black;
    color: white;
}
th, td{
    text-align: center;
    padding: 5px 8px;
    border: 1px solid gray;
}
