*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: darkblue;
    --text-color: white;
    --border: 1px solid black;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}
nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--primary-color);
}
main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
    padding: 10px;
}
aside{
    width: 20rem;
    text-align: center;
    position: relative;
}
aside h2{
    position: absolute;
    top: 30px;
    left: 85px;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}
/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/ .2);
    padding: 1rem;
    background-color: gray;
    color: var(--text-color);
}