*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: darkblue;
    --text-color: white;
    --border: 1px solid black;
}
header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 900;
}
h1 {
    color: var(--primary-color);
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
}
main {
    padding: 10px;
}
aside{
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}
aside h2{
    position: absolute;
    top: 30px;
    left: 85px;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}
/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/ .2);
    padding: 1rem;
    background-color: gray;
    color: var(--text-color);
}